.ui-autocomplete-input {
	width: 500px;
}

.ui-autocomplete-category {
     background-color: #fff;
     border-bottom: 1px solid #5BB676; 
     color: #5BB676; 
     font-weight: 500;
     font-size: 2rem;
     height: 35px;
     line-height: 35px;
     padding-left: 7px;
}

.ui-menu .ui-menu-item a {
    color: #5B5B5B;
    line-height: 35px;
    cursor: pointer;
}

#search {
    border: 2px solid #ddd;
    border-radius: 2px;
    box-shadow: none;
    height: 50px;
    padding-left: 8px;
    outline: none;
}




/* =Media Queries
-------------------------------------------------------------- */
@media (max-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (max-width: 1050px) {

}

/* Portrait tablets and small desktops */
@media (max-width: 950px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 675px) {

}

/* Phones and down */
@media (max-width: 480px) {

}